<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Log In</h1>
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="email@email.com">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit">Submit</button>
    </form>
    <% if (errors) { %> 
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>