<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="" method="POST" class="sign-up-form">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="email@email.com">
        <label for="password">Password</label>
        <input type="text" name="password">
        <label for="confirm_password">Confirm Password</label>
        <input type="text" name="confirm_password">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="John">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Doe">
        <button type="submit">Submit</button>
    </form>
    <% if (errors) { %> 
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>