body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
  border: solid;
  border-radius: 10px;
  padding: 0px 10px;
}

.message-board {
  display: flex;
  gap: 1rem;
  flex-direction:column;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title date"
    "name ."
  ;
}

.date {
  grid-area: date;
  justify-self: end;
}

.name {
  grid-area: name;
}

.title {
  grid-area: title;
}
